.navbar a {
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: #000;
    text-align: center;
    font-size: 1.5rem;
}

.navbar-item {
   height: fit-content;
}

.navbar a:hover {
    color: #000;
    background-color: #959595;
}

@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
.navbar {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 5px;
    list-style-type: none;
    background-color: #000000;
    width: -webkit-fill-available;
}