body {
    background-color: #dddddd;
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
}

.active {
    background-color: #4CAF50;
}

div zero-md {
    margin: 1rem 2rem;
}

a i {
    color: black;
}